* {
  padding: 0;
  margin: 0;
  border: 0;
  font-variant-numeric: proportional-nums lining-nums;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

body {
  text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

textarea {
  resize: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  font-family: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}
