@use './../general/variables.scss' as *;

.btn {
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 0 24px;
  border-radius: 12px;
  text-align: center;
  transition: all 0.2s ease 0s;

  &--primary {
    height: 48px;
    background-color: $color-brand-100;
    color: #ffffff;

    @media (hover: hover) {
      &:hover {
        background-color: $color-brand-200;
      }
    }

    &:active {
      background-color: $color-brand-200;
    }
  }

  &--secondary {
    height: 48px;
    background-color: $color-neutral-600;
    color: #ffffff;

    @media (hover: hover) {
      &:hover {
        background-color: $color-neutral-500;
      }
    }

    &:active {
      background-color: $color-neutral-500;
    }
  }

  &--thertiary {
    height: 40px;
    background-color: #ffffff;
    color: $color-neutral-800;

    @media (hover: hover) {
      &:hover {
        background-color: $color-neutral-100;
      }
    }

    &:active {
      background-color: $color-neutral-100;
    }
  }

  &:disabled {
    color: $color-neutral-400;
    background-color: $color-neutral-600;
  }
}
